<!--

Interface représentant des informations de la NASA au sujets des astéroïds proches de la Terre,
chaque astéroids sont représenté par des "material card view"

une "material Form" permet de trier le astéroids selon le diamètre en Km et
leur dangerosité par rapport à la Terre


-->



<style>
mat-form-field {  width: 20%; font-size: 22px;padding:3px;float:left; }
mat-input {  width: 20%; font-size: 22px;padding:3px;float:left; }
mat-label {  font-size: 22px;height:100px; }



.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 0px;
  
}

build 

  </style>
<!--début du formulaire-->

<mat-form appearance="fill" [formGroup]="Criteria" class="form-container" style="padding:0px;margin-top:0px;">
  <mat-card style="padding:0px;margin-top:0px;">
    <mat-card-header style="padding:0px;margin-top:0px;">
      
    </mat-card-header>
    <mat-card-content>
     
   

      


        <div style="float: left;margin-right:50px;">
            <mat-radio-group  [(ngModel)]="selected" formControlName="danger" >
              <mat-label>menace pour la terre :</mat-label>
                <mat-radio-button  [value]="true"> dangereux </mat-radio-button>
13

19
<style>
20
mat-form-field {  width: 20%; font-size: 22px;padding:3px;float:left; }
21
mat-input {  width: 20%; font-size: 22px;padding:3px;float:left; }
22
mat-label {  font-size: 22px;height:100px; }
23
​
24
​
25
​
26
.mat-mdc-radio-button ~ .mat-mdc-radio-button {
27
  margin-left: 0px;
28
  
29
}
30
​
31
build 
32
​
33
  </style>
34
<!--début du formulaire-->
35
​
36
<mat-form appearance="fill" [formGroup]="Criteria" class="form-container" style="padding:0px;margin-top:0px;">
37
  <mat-card style="padding:0px;margin-top:0px;">
38
    <mat-card-header style="padding:0px;margin-top:0px;">
39
      
40
    </mat-card-header>
41
    <mat-card-content>
42
     
43
   
44
​
45
      
46
​
47
​
48
        <div style="float: left;margin-right:50px;">
49
            <mat-radio-group  [(ngModel)]="selected" formControlName="danger" >
50
              <mat-label>menace pour la terre :</mat-label>
51
                <mat-radio-button  [value]="true"> dangereux </mat-radio-button>
52
                <mat-radio-button  [value]="false"> non dangereux </mat-radio-button>
53
                <mat-radio-button  #start [value]="0"> indifferent </mat-radio-button>
54
            </mat-radio-group>
55
        </div>
56
   
57
​
58
​
59
​
60
        <div style="float: left" >
61
          <mat-form-field class="full-width" style="width:300px">
62
            <mat-label>Diamètre supérieur à (Km) :</mat-label>
63
            <input  type="number"  formControlName="diametre"  matInput  >
64
          </mat-form-field>
65
             </div>       
66
       
67
        
68
        

                <mat-radio-button  [value]="false"> non dangereux </mat-radio-button>
                <mat-radio-button  #start [value]="0"> indifferent </mat-radio-button>
            </mat-radio-group>
        </div>
   



        <div style="float: left" >
          <mat-form-field class="full-width" style="width:300px">
            <mat-label>Diamètre supérieur à (Km) :</mat-label>
            <input  type="number"  formControlName="diametre"  matInput  >
          </mat-form-field>
             </div>       
       
        
        

  </mat-card-content>

  
  </mat-card>
</mat-form>


<!--fin du formulaire-->



<br>
<div style="width:100%; text-align:center;font-size:22px;">nombre total d'astéroïdes proches de la Terre : {{DonneeNasa.page.size}}</div>
<br>


<div *ngFor="let browse of DonneeNasa.near_earth_objects; index as i "> 
   <!-- parcour du tableau contenants les objects représentant les asteroids-->

  <div style="margin-top:15px;font-size:6px;width:100%;"
  
  
  *ngIf="((ConvertToInt(Criteria.value.danger)===0 || ConvertToInt(Criteria.value.danger)===undefined ) && (DonneeNasa.near_earth_objects[i].estimated_diameter.kilometers.estimated_diameter_max >  ConvertToInt(Criteria.value.diametre))); then thenBlock else elseBlock"></div>
 <!-- les objects sont représentés seulement si ils répondent aux critère du formulaire-->


  <ng-template #thenBlock >
    
   
<mat-card class="example-card" style="width:350px;float:left;font-size:10px;margin-left:2.5%;margin-bottom:5px;margin-top:5px;margin-top:5px;" >
  <mat-card-header style="background-color: lightblue;margin-bottom:0px;">
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title style="font-size:28px;width:100%;">{{DonneeNasa.near_earth_objects[i].name_limited}}&nbsp;</mat-card-title>
    <mat-card-subtitle style="font-size:14px;width:100%;">{{DonneeNasa.near_earth_objects[i].name}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content  style="background-color: lightblue;margin-top:0px;" >
    <div style="font-size:17px;width:100%;padding-top:2px;">date de 1<sup>er</sup> observation :<br> {{DonneeNasa.near_earth_objects[i].orbital_data.first_observation_date}} </div>
    <div style="font-size:17px;width:100%;padding-top:2px;">date de dernière observation :<br> {{DonneeNasa.near_earth_objects[i].orbital_data.last_observation_date}} </div>
    <div style="font-size:17px;width:100%;padding-top:2px;">diamètre maximum estimé :<br> {{DonneeNasa.near_earth_objects[i].estimated_diameter.kilometers.estimated_diameter_max}} Km</div>
    <div style="margin-top:15px;font-size:16px;width:100%;" *ngIf="DonneeNasa.near_earth_objects[i].is_potentially_hazardous_asteroid; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock ><span style="color: red;font-size:22px;">dangeureux</span></ng-template>
    <ng-template #elseBlock><span style="font-size:22px;">sans danger</span></ng-template>
    <div style="margin-top:5px;width:100%;"> <a style="font-size:18px;text-decoration: none;cursor:pointer;" target="_blank" href={{replacerHttp(DonneeNasa.near_earth_objects[i].nasa_jpl_url)}}>Fiche de la Nasa</a></div>
  </mat-card-content>  
</mat-card>



</ng-template> 


    <ng-template #elseBlock>
      
      <div *ngIf="(DonneeNasa.near_earth_objects[i].is_potentially_hazardous_asteroid ===  Criteria.value.danger)&&(DonneeNasa.near_earth_objects[i].estimated_diameter.kilometers.estimated_diameter_max >  ConvertToInt(Criteria.value.diametre) )">

        <!-- les objects sont représentés seulement si ils répondent aux critère du formulaire-->
         <!-- à faire : éviter la répétiion du block HTML-->

         <mat-card class="example-card" style="width:350px;float:left;font-size:10px;margin-left:2.5%;margin-bottom:5px;margin-top:5px;margin-top:5px;" >
          <mat-card-header style="background-color: lightblue;margin-bottom:0px;">
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title style="font-size:28px;width:100%;">{{DonneeNasa.near_earth_objects[i].name_limited}}&nbsp;</mat-card-title>
            <mat-card-subtitle style="font-size:14px;width:100%;">{{DonneeNasa.near_earth_objects[i].name}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content  style="background-color: lightblue;margin-top:0px;" >
            <div style="font-size:17px;width:100%;padding-top:2px;">date de 1<sup>er</sup> observation :<br> {{DonneeNasa.near_earth_objects[i].orbital_data.first_observation_date}} </div>
            <div style="font-size:17px;width:100%;padding-top:2px;">date de dernière observation :<br> {{DonneeNasa.near_earth_objects[i].orbital_data.last_observation_date}} </div>
            <div style="font-size:17px;width:100%;padding-top:2px;">diamètre maximum estimé :<br> {{DonneeNasa.near_earth_objects[i].estimated_diameter.kilometers.estimated_diameter_max}} Km</div>
            <div style="margin-top:15px;font-size:16px;width:100%;" *ngIf="DonneeNasa.near_earth_objects[i].is_potentially_hazardous_asteroid; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock ><span style="color: red;font-size:22px;">dangeureux</span></ng-template>
            <ng-template #elseBlock><span style="font-size:22px;">sans danger</span></ng-template>
            <div style="margin-top:5px;width:100%;"> <a style="font-size:18px;text-decoration: none;cursor:pointer;" target="_blank" href={{replacerHttp(DonneeNasa.near_earth_objects[i].nasa_jpl_url)}}>Fiche de la Nasa</a></div>
          </mat-card-content>  
        </mat-card>
    </div>
    </ng-template>

</div>
